@model ProductModel
@{
    ViewBag.Title = "Financial";
}

    <h1>Product sales</h1>
    
    <table class="table">
        @foreach (var product in Model.Products)
        {
        <tr>
            <td>@product.Name</td>
            <td>@product.Qtr1</td>
            <td>@product.Qtr2</td>
            <td>@product.Qtr3</td>
            <td>@product.Qtr4</td>

        </tr>

    </table>
</body>